<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>messagetype</key>
		<integer>0</integer>
		<key>mediatype</key>
		<integer>0</integer>
		<key>time</key>
		<string>2:03:39</string>
		<key>content</key>
		<string>十多年撒等你哦以鄂锐威尔比发布到圣阳股份第四步把大V瓯都市女</string>
		<key>name</key>
		<string>最近联系人小徐</string>
	</dict>
	<dict>
		<key>messagetype</key>
		<integer>0</integer>
		<key>mediatype</key>
		<integer>0</integer>
		<key>name</key>
		<string>最近联系人小徐</string>
		<key>time</key>
		<string>2:03:39</string>
		<key>content</key>
		<string>是都以二觉防护二号位偶然间诶我UR和欧委会如和我 挖偶尔乌尔基欧威尔或维护人ue我让霍尔五花肉偶尔五花肉欧委会若维护若额外很柔我和若额外然后偶尔无人活儿好偶尔活儿好隇欧无人活儿荷藕我热火额外热火额外狠人偶尔无人或微软货物而后入好</string>
	</dict>
	<dict>
		<key>messagetype</key>
		<integer>1</integer>
		<key>mediatype</key>
		<integer>0</integer>
		<key>name</key>
		<string>最近联系人小徐</string>
		<key>time</key>
		<string>2:03:39</string>
		<key>content</key>
		<string>幅度为欧if精诶王嘉尔欧委会 挖偶尔和ue我还弱了五花肉后入电脑上佛非农翻偶尔放和我不和我ue入户二位好弱二维火肉维护若额外和若为火热货物火热货物火热哦呜会飞的南方南方的南方哪到哪佛IQ微积分IE无尽日而为今日偶尔玩较弱活儿好无法和有待恢复代发货恢复哦好的搜狐发瓯㐎偶尔维护费和我幅度否欧风uu</string>
	</dict>
	<dict>
		<key>messagetype</key>
		<integer>0</integer>
		<key>mediatype</key>
		<integer>0</integer>
		<key>name</key>
		<string>最近联系人小徐</string>
		<key>time</key>
		<string>2:03:39</string>
		<key>content</key>
		<string>最👌阿斗我和护额如不发不代表腹部第二份 水电费互动事发后而五花肉偶尔无人互为哈佛染发斯蒂芬不得不付款  水电费耨饭后二胡而活偶尔无人后然后问然后问然后往后然后问和人人</string>
	</dict>
	<dict>
		<key>messagetype</key>
		<integer>1</integer>
		<key>mediatype</key>
		<integer>0</integer>
		<key>name</key>
		<string>最近联系人小徐</string>
		<key>time</key>
		<string>2:03:39</string>
		<key>content</key>
		<string>最近的消息</string>
	</dict>
</array>
</plist>
